@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Monomaniac+One&family=Rancho&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* font style */
/* font-family: 'Lato', sans-serif;
font-family: 'Monomaniac One', sans-serif;
font-family: 'Rancho', cursive;
font-family: 'Source Sans Pro', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar{
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 16px;
  text-transform:capitalize;
  box-shadow: 0 8px 6px -6px #F7452E;
  --webkit-box-shadow: 0 8px 6px -6px #F7452E;
  border-bottom: solid #F7452E !important;
}

.nav-link {
  font-weight: 300 !important;
}

.nav-link:hover {
  border-bottom: 2px solid #F7452E;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
/* =======FOOTER==== */

.footer {
  color: rgb(255, 255, 255);
  padding: 25px;
  background: linear-gradient(to right, #F7452E, #f16553);
}

.footercopyright{
  font-size: 10px;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.footer a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffefba;
}


/* ========= 404 --------- */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  text-align: center;
  border: 10px solid #f07a7a;
  border-radius: 0;
  background-color: #f07a7a;
  color: white;
  width: 250px;
}
.pnf-btn:hover {
  border: 10px solid #fa4e37;
  background: #fa4e37; 
}

/* ======== FAQs +========= */

.nameheader {
  text-align: center;
}

.faqs {
  margin-bottom: 20px;
  text-align: center;
}

.faqsheader {
  font-size: 18px;
  margin: 10px;
  
  box-sizing: border-box;
}

.faqspara {
  text-align: justify;
  margin-right: 50px;
  margin-left: 50px;
}

/* ============POLICY ======== */

.pmain{
  font-family: 'Rancho', cursive;
  background-color: #F7452E;
  box-shadow: 0 8px 6px -6px #F7452E;
  --webkit-box-shadow: 0 8px 6px -6px #F7452E;
  border-top: solid #F7452E !important;
  border-bottom: solid #F7452E !important;
  text-align: center;
}

.ppara, .apara{
  text-align: justify;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.pheader , .aheader{
  padding-top: 15px;
  text-align: center;
}



/* ========= ABout FakeShop ======= */
.fsl{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;

}

/*======================= HOMEPAGE ====================== */

body {
  font-family: 'Monomaniac One', sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.pinimg.com/originals/51/a5/95/51a5956307d83d65cdc6e79985364adf.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://ih1.redbubble.net/image.92164261.0925/ssrco,slim_fit_t_shirt,womens,9ec0d5:0d26d5c715,front,square_product,600x600.u6.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://ih1.redbubble.net/image.1934799783.6108/ssrco,classic_tee,mens,353d77:4d8b4ffd91,front_alt,square_product,600x600.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://library.sportingnews.com/styles/twitter_card_120x120/s3/2021-10/air-jordan-7-ftrjpg_1pp5zgni0yshv1gnkrzcambrvx.jpg?itok=kBcbqZR4") no-repeat center;
    background-size: 120%;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}